body {
    margin: 0;
    background-color: #efefef;
    }
header{
    background-color: #364552;
    color: white;
    }
.p1{
    
    text-align: right;
    
}
#p2{
    text-align: center;
}
#p3{
    text-align: center;
}
h2{
    text-align: center;
}
.container{
    
    width: 400px;
    margin: 0 auto;
}
section article{
    transition: box-shadow 0.3s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}
section article h2, section article p{
    margin: 1rem;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}





